<footer class="section section--space-top footer gsap-fix-bottom">
    <div class="container">
        <div class="row gaper">
            <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
                <div class="footer__single wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="logo">
                        <a href="https://maoleng.dev" target="_blank">
                            <img src="https://cdn.discordapp.com/attachments/928647241080643584/1007723295040344074/a_3.png" alt="Image">
                        </a>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="https://facebook.com/maoleng.bhl" target="_blank" aria-label="social media">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/maoleng" target="_blank" aria-label="social media">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://discordapp.com/users/517725152327499806" target="_blank" aria-label="social media">
                                <i class="fa-brands fa-discord"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://telegram.me/maoleng" target="_blank" aria-label="social media">
                                <i class="fa-brands fa-telegram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
                <div class="footer__single wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
                <div class="footer__single wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
                <div class="footer__single wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1200ms">
                    <div class="footer__head">
                        <h5 class="h5">get in touch</h5>
                    </div>
                    <div class="footer__address">
                        <ul>
                            <li>
                                <a href="https://www.google.com/maps/place/Ton+Duc+Thang+University/@10.7326689,106.6971947,17z/data=!3m1!4b1!4m6!3m5!1s0x317528b2747a81a3:0x33c1813055acb613!8m2!3d10.7326689!4d106.6997696!16s%2Fm%2F02q2bz4?entry=ttu" target="_blank"><i class="fa-solid fa-location-dot"></i>
                                    19, Nguyen Huu Tho Str., Tan Phong ward, District 7, Ho Chi Minh City, Vietnam
                                </a>
                            </li>
                            <li><a href="mailto:huuloc@maoleng.dev"><i class="fa-solid fa-envelope"></i>huuloc@maoleng.dev</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__bottom">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-7"></div>
                        <div class="col-12 col-lg-5">
                            <div class="footer__copy text-center text-lg-end">
                                <p>Copyright &copy; <span id="#">photodit</a>
                                    All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>