<head>
    <!-- required meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- #favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <!-- #title -->
    <title>AlimeGAN | Clipping Path Service Html Template</title>
    <!-- #keywords -->
    <meta name="keywords" content="photodit, image editing, edit, html">
    <!-- #description -->
    <meta name="description" content="Clipping Path Service Html Template">
    <!-- ==== css dependencies start ==== -->
    <!-- bootstrap five css -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- font awesome six css -->
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.min.css">
    <!-- glyphter css -->
    <link rel="stylesheet" href="assets/vendor/glyphter/css/photodit.css">
    <!-- nice select css -->
    <link rel="stylesheet" href="assets/vendor/nice-select/css/nice-select.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" href="assets/vendor/magnific-popup/css/magnific-popup.css">
    <!-- slick css -->
    <link rel="stylesheet" href="assets/vendor/slick/css/slick.css">
    <!-- odometer css -->
    <link rel="stylesheet" href="assets/vendor/odometer/css/odometer.css">

    <!-- animate css -->
    <link rel="stylesheet" href="assets/vendor/animate/animate.min.css">
    <!-- ==== / css dependencies end ==== -->
    <!-- main css -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>