<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="nav">
                    <div class="nav__content">
                        <div class="nav__logo">
                            <a href="/">
                                <img src="assets/images/logo.png" alt="Logo">
                            </a>
                            <button aria-label="open sidebar" class="sidedot">
                                <span></span><span></span><span></span><span></span>
                            </button>
                        </div>
                        <div class="nav__menu">
                            <div class="nav__menu-logo d-flex d-xl-none">
                                <a href="/" class="text-center hide-nav">
                                    <img src="assets/images/logo.png" alt="Logo">
                                </a>
                                <a href="javascript:void(0)" class="nav__menu-close">
                                    <i class="fa-solid fa-xmark"></i>
                                </a>
                            </div>
                            <ul class="nav__menu-items">
                                <li class="nav__menu-item">
                                    <a class="nav__menu-link hide-nav" href="/">Home</a>
                                </li>
                                <li class="nav__menu-item">
                                    <a class="nav__menu-link hide-nav" href="/gallery">Gallery</a>
                                </li>
                                <li class="nav__menu-item">
                                    <a class="nav__menu-link hide-nav" href="/convert">Convert now</a>
                                </li>
                                <li class="nav__menu-item">
                                    <a class="nav__menu-link hide-nav" href="/contact">Contact</a>
                                </li>
                            </ul>
                            <ul class="social d-flex d-xl-none">
                                <li>
                                    <a href="/" aria-label="social media">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" aria-label="social media">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" aria-label="social media">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" aria-label="social media">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{#if (isAlreadyLogin)}}
                            <div class="nav__uncollapsed nav__menu-item--dropdown">
                                <button aria-label="dropdown menu container" class="nav__menu-link nav__menu-link--dropdown">
                                    Hello {{ authedName }}
                                </button>
                                <ul class="nav__dropdown">
                                    <li>
                                        <a class="nav__dropdown-item hide-nav" href="portfolio.html">Your work</a>
                                    </li>
                                    <li>
                                        <a class="nav__dropdown-item hide-nav" href="/auth/logout">Logout</a>
                                    </li>
                                </ul>
                                <button class="nav__bar d-block d-xl-none">
                                    <span class="icon-bar top-bar"></span>
                                    <span class="icon-bar middle-bar"></span>
                                    <span class="icon-bar bottom-bar"></span>
                                </button>
                            </div>
                        {{else}}
                            <div class="nav__uncollapsed">
                                <div class="nav__uncollapsed-item d-none d-md-flex">
                                    <a href="/auth/redirect" type="submit" class="btn btn--secondary"><img src="assets/images/google.png" alt="Image"> continue with google</a>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="backdrop"></div>
</header>