<div class="off-canvas">
    <div class="off-canvas__inner">
        <div class="off-canvas__head">
            <a href="#">
                <img src="assets/images/logo.png" alt="Logo">
            </a>
            <button aria-label="close off canvas" class="off-canvas-close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="offcanvas__search">
            <form action="#">
                <input type="text" placeholder="What are you searching for?" required>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="off-canvas__contact">
            <h4 class="h4">Contact Info</h4>
            <div class="single">
                    <span>
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                <a href="mailto:huuloc@maoleng.dev">huuloc@maoleng.dev</a>
            </div>
            <div class="single">
                    <span>
                        <i class="fa-solid fa-location-dot"></i>
                    </span>
                <a href="https://www.google.com/maps/place/Ton+Duc+Thang+University/@10.7326689,106.6971947,17z/data=!3m1!4b1!4m6!3m5!1s0x317528b2747a81a3:0x33c1813055acb613!8m2!3d10.7326689!4d106.6997696!16s%2Fm%2F02q2bz4?entry=ttu"
                   target="_blank">19, Nguyen Huu Tho Str., Tan Phong ward, District 7, Ho Chi Minh City, Vietnam</a>
            </div>
        </div>
        <ul class="social-side">
            <li>
                <a href="https://www.facebook.com/maoleng.bhl" target="_blank" aria-label="social media">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/maoleng" target="_blank" aria-label="social media">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://discordapp.com/users/517725152327499806" target="_blank" aria-label="social media">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </li>
            <li>
                <a href="https://telegram.me/maoleng" target="_blank" aria-label="social media">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="off-canvas-backdrop"></div>