<section class="banner bg-white gsap-fix-top">
    <div class="container">
        <div class="row justify-content-center gaper">
            <div class="col-12 col-md-10 col-xxl-11">
                <div class="banner__content">
                    <p class="h6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="1200ms">Get
                        pixel perfect image editing services
                    </p>
                    <h1 class="h1 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="1200ms">
                        Convert Your Image To Alime
                        Made for Everyone
                    </h1>
                    <div class="cta__group wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="1200ms">
                        <a href="#" aria-label="create account" class="btn btn--primary">free
                            trail now <i class="fa-solid fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="banner__thumb wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1500ms">
                    <img src="assets/images/banner/thumb.png" alt="Image">
                    <img src="assets/images/banner/after.png" alt="Image" class="after">
                </div>
            </div>
        </div>
    </div>
    <div class="banner__small-thumb">
        <img src="assets/images/banner/one.png" alt="Image" class="one">
        <img src="assets/images/banner/two.png" alt="Image" class="two">
        <img src="assets/images/banner/three.png" alt="Image" class="three">
        <img src="assets/images/banner/four.png" alt="Image" class="four">
    </div>
</section>

<section class="section team-two pb-0">
    <div class="container">
        <div class="row align-items-center section__header--alt">
            <div class="col-12 col-lg-7">
                <div class="section__header">
                    <p class="h6 sub-title wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                        our products
                    </p>
                    <h2 class="h2 title wow fadeInUp" data-wow-duration="600ms" data-wow-delay="900ms">
                        See The Awesome Images
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="paragraph wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1200ms">
                    <p>Create with images only
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-two__slider">
        <div class="team-two__slider-item">
            <img src="assets/images/team/one.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/two.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/three.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/four.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/five.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/six.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/seven.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/eight.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/nine.png" alt="Image">
        </div>
        <div class="team-two__slider-item">
            <img src="assets/images/team/ten.png" alt="Image">
        </div>
    </div>
</section>

<section class="work-section section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="work-section__inner">
                    <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-6 col-xxl-5">
                            <div class="work-section__content">
                                <div class="section__header">
                                    <p class="h6 sub-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">how we works</p>
                                    <h2 class="h2 title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">How it works</h2>
                                </div>
                                <ul>
                                    <li class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                        <div class="thumb">
                                            <span>01</span>
                                        </div>
                                        <p>Upload an image, you will receive a converted image
                                        </p>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                                        <div class="thumb">
                                            <span>02</span>
                                        </div>
                                        <p>You can see your history converted images in your profile
                                        </p>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                                        <div class="thumb">
                                            <span>03</span>
                                        </div>
                                        <p>You can also share your converted images for everyone
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xxl-6 offset-xxl-1">
                            <div class="work-section__thumb wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                                <img src="assets/images/work-thumb.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section quality-section bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="section__header text-center">
                    <p class="h6 sub-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        Stunning Quality
                    </p>
                    <h2 class="h2 title wow fadeInUp" data-wow-duration="1400ms" data-wow-delay="900ms">
                        Generate anime image from original image
                    </h2>
                </div>
            </div>
            <div class="col-12">
                <div class="quality-section__filter-btns wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <a href="#qualitypeople" class="quality-filter-btn quality-filter-btn--active"><i class="icon-user"></i> People</a>
                    <a href="#qualityproducts" class="quality-filter-btn"><i class="icon-hexagon"></i>
                        products</a>
                    <a href="#qualityanimals" class="quality-filter-btn"><i class="icon-animal"></i>
                        animals</a>
                    <a href="#qualitycars" class="quality-filter-btn"><i class="icon-car"></i> cars</a>
                    <a href="#qualitygraphics" class="quality-filter-btn"><i class="icon-image"></i>graphics</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="quality-section__tab wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="quality-section__tab-item" id="qualitypeople">
                        <div class="rangu rangu-one">
                            <div class='img background-img'></div>
                            <div class='img foreground-img-1'></div>
                            <input type="range" min="1" max="100" value="50" class="rangu-slider" name='rangu-slider2' id="ranguslider2">
                            <div class='rangu-slider-button2 rangu-slider-button3'></div>
                        </div>
                    </div>
                    <div class="quality-section__tab-item" id="qualityproducts">
                        <div class="rangu rangu-two">
                            <div class='img background-img'></div>
                            <div class='img foreground-img3'></div>
                            <input type="range" min="1" max="100" value="50" class="rangu-slider" name='rangu-slider3' id="ranguslider3">
                            <div class='rangu-slider-button2 rangu-slider-button4'></div>
                        </div>
                    </div>
                    <div class="quality-section__tab-item" id="qualityanimals">
                        <div class="rangu rangu-three">
                            <div class='img background-img'></div>
                            <div class='img foreground-img4'></div>
                            <input type="range" min="1" max="100" value="50" class="rangu-slider" name='rangu-slider4' id="ranguslider4">
                            <div class='rangu-slider-button2 rangu-slider-button5'></div>
                        </div>
                    </div>
                    <div class="quality-section__tab-item" id="qualitycars">
                        <div class="rangu rangu-four">
                            <div class='img background-img'></div>
                            <div class='img foreground-img5'></div>
                            <input type="range" min="1" max="100" value="50" class="rangu-slider" name='rangu-slider5' id="ranguslider5">
                            <div class='rangu-slider-button2 rangu-slider-button6'></div>
                        </div>
                    </div>
                    <div class="quality-section__tab-item" id="qualitygraphics">
                        <div class="rangu rangu-five">
                            <div class='img background-img'></div>
                            <div class='img foreground-img6'></div>
                            <input type="range" min="1" max="100" value="50" class="rangu-slider" name='rangu-slider6' id="ranguslider6">
                            <div class='rangu-slider-button2 rangu-slider-button7'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quality-section__thumbs">
        <img src="assets/images/quality/thumb-one.png" alt="Image" class="one">
        <img src="assets/images/quality/thumb-two.png" alt="Image" class="two">
    </div>
</section>

<section class="section faq-two">
    <div class="container">
        <div class="row gaper align-items-center">
            <div class="col-12 col-lg-4">
                <div class="faq-two__thumb wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="600ms">
                    <img src="assets/images/faq-two-thumb.png" alt="Image">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="faq-two__content">
                    <div class="section__header">
                        <p class="h6 sub-title wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                            FAQ
                        </p>
                        <h2 class="h2 title wow fadeInUp" data-wow-duration="900ms" data-wow-delay="600ms">
                            frequently ask questions</h2>
                    </div>
                    <div class="accordion" id="accordion">
                        <div class="accordion-item wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                            <h5 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    What is this service?
                                </button>
                            </h5>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>
                                        AlimeGAN is a service that can help you convert from normal image to anime image.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-duration="600ms" data-wow-delay="900ms">
                            <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    How is it work?
                                </button>
                            </h5>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>
                                        Implement AlimeGAN using PyTorch
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item content__space wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1200ms">
                            <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    What format are the files in?
                                </button>
                            </h5>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>
                                        image/bmp, image/jpeg, image/x-png; image/png
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item content__space wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1500ms">
                            <h5 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    How your data is protected?
                                </button>
                            </h5>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>
                                        Your converted image is private unless you make it to public.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item content__space wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1800ms">
                            <h5 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                    How can I use it?
                                </button>
                            </h5>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>
                                        You can use the service as anonymouse, but your converted image will be public. You can login to get your converted image as private for your own.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section testimonial">
    <div class="container">
        <div class="row gaper">
            <div class="col-12 col-xl-4">
                <div class="section__content testimonial__content">
                    <p class="h6 sub-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        customer testimonial
                    </p>
                    <h2 class="h2 title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">They
                        love us. You
                        will too.
                    </h2>
                    <div class="paragraph wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <p>Because a quick product shoot can easily turn into a week or more of editing and
                            formatting your images. Let us look after the edits,
                        </p>
                    </div>
                    <div class="testimonial__content-cta section__content-cta">
                        <button aria-label="previous item" class="slide-btn prev-testimonial">
                            <i class="icon-arrow-left"></i>
                        </button>
                        <button aria-label="next item" class="slide-btn next-testimonial">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="testimonial__slider">
                    <div class="testimonial__slider-item">
                        <div class="quote">
                            <i class="icon-quote"></i>
                        </div>
                        <div class="content">
                            <q class="h4">
                                I recently had the pleasure of using the incredible service called AlimeGAN, and I must say, I am absolutely thrilled with the results! As a huge fan of anime and manga, I had always dreamed of seeing myself and my loved ones in the unique and captivating style of anime art. Thanks to AlimeGAN, that dream became a reality!
                            </q>
                        </div>
                        <hr>
                        <div class="item__meta">
                            <div class="meta__thumb">
                                <img src="assets/images/author-one.png" alt="Image">
                            </div>
                            <div class="meta__content">
                                <p class="h5">Delores Olivo</p>
                                <p>Senior Technology Editor</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__slider-item">
                        <div class="quote">
                            <i class="icon-quote"></i>
                        </div>
                        <div class="content">
                            <q class="h4">
                                The process of using AlimeGAN was incredibly simple and user-friendly. I just had to upload my real-world photos to their platform, and their team of talented artists took care of the rest. The level of attention to detail and the quality of the final anime images truly exceeded my expectations.
                            </q>
                        </div>
                        <hr>
                        <div class="item__meta">
                            <div class="meta__thumb">
                                <img src="assets/images/author-two.png" alt="Image">
                            </div>
                            <div class="meta__content">
                                <p class="h5">endru kolins</p>
                                <p>CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__slider-item">
                        <div class="quote">
                            <i class="icon-quote"></i>
                        </div>
                        <div class="content">
                            <q class="h4">
                                When I received the transformed images, I was blown away by how accurately AlimeGAN captured the essence of each person in the pictures. Every detail, from the facial expressions to the hairstyles and clothing, was carefully recreated in a delightful anime style. The colors were vibrant, and the lines were clean and precise, giving the images an authentic anime feel.
                            </q>
                        </div>
                        <hr>
                        <div class="item__meta">
                            <div class="meta__thumb">
                                <img src="assets/images/author-three.png" alt="Image">
                            </div>
                            <div class="meta__content">
                                <p class="h5">Delores Olivo</p>
                                <p>Content & Marketing Coordinator</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__slider-item">
                        <div class="quote">
                            <i class="icon-quote"></i>
                        </div>
                        <div class="content">
                            <q class="h4">
                                What impressed me even more was the customization options offered by AlimeGAN. They allowed me to specify particular anime styles or characters that I wanted to emulate, ensuring that the final images reflected my personal preferences. The team at AlimeGAN was also incredibly responsive to my requests and provided excellent customer support throughout the entire process.
                            </q>
                        </div>
                        <hr>
                        <div class="item__meta">
                            <div class="meta__thumb">
                                <img src="assets/images/author-one.png" alt="Image">
                            </div>
                            <div class="meta__content">
                                <p class="h5">Delores Olivo</p>
                                <p>Senior Technology Editor</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__slider-item">
                        <div class="quote">
                            <i class="icon-quote"></i>
                        </div>
                        <div class="content">
                            <q class="h4">
                                Since receiving my anime images from AlimeGAN, I've shared them with my friends and family, and the reactions have been priceless. Everyone was amazed at how AlimeGAN was able to breathe life into our ordinary photos, turning them into something truly extraordinary. It's been such a joy to see myself and my loved ones as captivating anime characters.
                            </q>
                        </div>
                        <hr>
                        <div class="item__meta">
                            <div class="meta__thumb">
                                <img src="assets/images/author-two.png" alt="Image">
                            </div>
                            <div class="meta__content">
                                <p class="h5">endru kolins</p>
                                <p>CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__slider-item">
                        <div class="quote">
                            <i class="icon-quote"></i>
                        </div>
                        <div class="content">
                            <q class="h4">
                                I highly recommend AlimeGAN to anyone who has ever wished to see themselves or their cherished memories in the enchanting world of anime. Whether it's turning a family portrait into a whimsical anime scene or transforming a special moment into a breathtaking anime masterpiece, AlimeGAN can bring your imagination to life.
                            </q>
                        </div>
                        <hr>
                        <div class="item__meta">
                            <div class="meta__thumb">
                                <img src="assets/images/author-three.png" alt="Image">
                            </div>
                            <div class="meta__content">
                                <p class="h5">Delores Olivo</p>
                                <p>Content & Marketing Coordinator</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/mc.png" alt="Image" class="one">
</section>

<section class="try-cta bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xxl-10">
                <div class="try-cta__inner">
                    <div class="row gaper align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="try-cta__thumb wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="600ms">
                                <img src="https://i.gzn.jp/img/2021/11/10/animeganv2-gradio-demo/13.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="try-cta__content section__content">
                                <p class="h6 sub-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">try free now</p>
                                <h2 class="h2 title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">Convert to anime image</h2>
                                <div class="paragraph wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
                                    <p>AlimeGAN Could be a process by which photo editors make a vector path to pick.
                                    </p>
                                </div>
                                <div class="cta__group wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                                    <a href="#" class="btn btn--secondary"><img src="assets/images/upload.png" alt="Image"> upload images</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="sponsor section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="sponsor__slider wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/one.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/two.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/three.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/four.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/five.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/six.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/one.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/two.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/three.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/four.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/five.png" alt="Image">
                    </div>
                    <div class="sponsor__slider-item">
                        <img src="assets/images/sponsor/six.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
