<!DOCTYPE html>
<html lang="en">
{{> head_tag }}
{{{_sections.style}}}
<body>
{{> preloader }}
{{> header }}
{{> offcanvas }}

<div id="smooth-wrapper">
    <div id="smooth-content">
        {{{ body }}}
        {{> footer }}
    </div>
</div>

{{> scroll_to_top }}
{{> script_tag }}

{{{_sections.script}}}

</body>
</html>